<div class="container main-container">

<h1 class="text-center">Detalhes</h1>
    <div class="container main-container">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Tipo de exercicio</th>
              <th scope="col">Sessoes</th>
            </tr>
          </thead>
          <tbody >
            <tr >
              <th scope="row">{{ex.tipo}}</th>
              <td>{{ex.session}}</td>
            </tr>
            </tbody>
                
    </table>
    </div>
    </div>