<div class="container main-container">
    <div class="col-md-10">
    <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="OnSubmit()" >
        <div class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control" formControlName="nome" name="nome">
        </div>
        <div class="form-group">
            <label>Data de Nascimento</label>
            <input type="datetime" class="form-control"  formControlName="dataNascimento" placeholder="Sua data de nascimento" name="dataNascimento">
          </div>
          <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1" formControlName="sexo" name="sexo">
            <label for="example">Escolha o sexo:</label>
            <option>Masculino</option>
            <option>Feminino</option>
          </select>
          </div>
          <div class="form-group">
            <label >CEP</label>
            <input type="number" class="form-control"  placeholder="Digite o CEP, os outros campos serão atualizados." name="cep">
          </div> 
          <div class="form-group">
            <label for="exampleInputPassword1">Logradouro</label>
            <input type="number" class="form-control" placeholder="" disabled>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Bairro</label>
            <input type="number" class="form-control" placeholder="" disabled>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Cidade</label>
            <input type="number" class="form-control" placeholder="" disabled>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">UF</label>
            <input type="number" class="form-control" placeholder="" disabled> 
          </div> 
        <button type="submit" class="btn btn-primary">Enviar</button>  
      </form> 
    </div>
    </div> 