<h1 class="text-center">Lista de Alunos</h1>
    <div class="container main-container">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Nome do Aluno</th>
              <th scope="col">CPF</th>
              <th scope="col">Treino</th>
              <th scope="colgroup">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pessoa of pessoas">
              <th scope="row">{{pessoa.nome}}</th>
              <td>{{pessoa.cpf}}</td>
              <td>{{pessoa.treino}}</td>
              <td></td>
              <td>
                <span class="editar btn btn-info" [routerLink]="['/editar/', pessoa.id]" routerLinkActive="router-link-active" >Editar Aluno</span> |
                <span class="deletar btn btn-primary" [routerLink]="['/detalhes', pessoa.id]" routerLinkActive="router-link-active" >Detalhes</span> |
                <span class="deletar btn btn-danger" (click)="deletarPessoa(pessoa.id)">Excluir Aluno</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>