/* You can add global styles to this file, and also import other style files */
.main-container {
    margin-top: 10px;
    padding-top: 60px;
    margin-bottom: 60px;
    
}

.form-group {
    margin-top: auto;
}

.nav {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.footer {
    margin-top: 20px;
    height: 40px;
}